.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Header styles */
header {
	background-color: #333;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

nav {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0 1rem;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a.active,
nav a:hover {
	border-bottom: 2px solid #fff;
}

h1 {
	margin: 0;
}

/* Main content styles */
main {
	margin: 2rem;
}

section {
	max-width: 800px;
	margin: 0 auto;
}

h2 {
	margin-bottom: 1rem;
}

form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1rem;
	margin-bottom: 1rem;
}

label {
	font-weight: bold;
}

input,
textarea {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding:
  0.5rem 1rem;
cursor: pointer;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

ul li {
margin-bottom: 0.5rem;
}

a {
color: #333;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/* Footer styles */
footer {
background-color: #ccc;
padding: 1rem;
text-align: center;
}

.logo{
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 400;
}








